:root {
    --primary: #1a76ff;
    --border-active: #0065fc;
    --border-inactive: black /*#787878*/;
    --bg: #bcbcbc;
}

@font-face {
  font-family: 'Google-Sans';
  src: url(./fonts/GoogleSans-VariableFont.ttf) format("truetype");
}

body {
    background-color: var(--bg);
    color: black;
    margin: 0;
    height: 100vh;
    display: block;
}

nav {
    background-color: var(--primary);
    color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

    h1 {
        font-size: 3em;
        margin: 0;
    }

    #logout-button {
        background-color: white;
        color: var(--primary);
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: transparent;

    #form {
        border: solid, var(--primary), 2px;
        border-radius: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        h2 {
            margin: 0;
            font-family: 'Google-Sans';
        }

        /* From Uiverse.io by alexruix */
        form {
            gap: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;

            div {
                position: relative;
            }

            input {
                border: solid 2px var(--border-inactive);
                border-radius: 0.9rem;
                background: none;
                padding: 0.6rem 0.9rem;
                font-size: 0.9rem;
                color: black;
                transition: border 150ms cubic-bezier(0.4,0,0.2,1);
                background-color: #ececec;

                &:focus {
                    /* not using because I had a better solution but it'll stay here! */
                    /* border with a strip instead of giving a white bg to the label (so it works with a custom bg color, different than the body's) */
                    /*background-image: linear-gradient(#ececec), linear-gradient(#ececec), linear-gradient(var(--border-active));
                    background-origin: border-box;
                    background-clip: padding-box, border-box, border-box;
                    border: 2px solid transparent;
                    background-size: 100%, calc(35px + 0.6em) 10px, 100%;
                    background-repeat: no-repeat;
                    background-position: center, 15px top;*/
                    border: 2px solid var(--border-active);
                }
                &:focus, &:valid {
                    outline: none;
                }
                &:focus ~ label, &:valid ~ label {
                    transform: translate(-50%, -70%) scale(1);
                    font-size: 12px;
                    background-color: white;
                    border-radius: 20px;
                    padding: .1em .6em;
                }
                &:valid ~ label {
                    border: 1px solid var(--border-inactive);
                }
                &:focus ~ label {
                    /*color: var(--border-active);*/
                    border: 1px solid var(--border-active);
                }
            }

            label {
                position: absolute;
                left: 15px;
                font-size: 0.9rem;
                color: #676767;
                pointer-events: none;
                transform: translateY(calc(0.6rem - 1px));
                transition: 150ms cubic-bezier(0.4,0,0.2,1);
                user-select: none;
                font-family: 'Google-Sans';
                border: 1px solid transparent;
            }

            #show-pw {
                background-color: transparent;
                color: black;
                height: 25px;
                transform: translate(-35px, calc(2.4rem / 2 - 12.5px));
                position: absolute;
                border: none;
                outline: none;
                padding: 0;
                margin: 0;

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            button[type="submit"] {
                background-color: var(--primary);
                color: white;
                margin-top: 10px;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 0.9rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}

#data-main {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: unset;

    #egyenleg {
        width: fit-content;
        border-radius: 20px;
        border: 2px solid var(--primary);
        padding: 20px;
    }
}